@model EntitiesTesteCandidato.Cep

<div class="row setup-content">
    <div class="col text-center">

        @using (Html.BeginForm("Index", "Home", new { @class = "m-4" }))
        {
            @if (ViewBag.Mensagem != "" && ViewBag.Mensagem != null)
            {

                <div class="small-box bg-@ViewBag.Class">
                    <div class="inner" style="text-align:center">
                        <p style="font-size:15px; color:white; font-weight:bold">@ViewBag.Mensagem</p>
                    </div>
                </div>
            }
            <div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.cep, new { @type = "text", @class = "form-control validate cep", @required = "required", @name = "cep", @id = "cep", @placeholder = "CEP" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.logradouro, new { @type = "text", @class = "form-control validate", @required = "required", @name = "logradouro", @id = "logradouro", @placeholder = "Endereço" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.complemento, new { @type = "text", @class = "form-control validate", @name = "complemento", @id = "complemento", @placeholder = "Complemento" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.bairro, new { @type = "text", @class = "form-control validate", @required = "required", @name = "bairro", @id = "bairro", @placeholder = "Bairro" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.localidade, new { @type = "text", @readonly = "readonly", @class = "form-control validate", @required = "required", @name = "localidade", @id = "localidade", @placeholder = "Cidade" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.uf, new { @type = "text", @readonly = "readonly", @class = "form-control validate", @required = "required", @name = "uf", @id = "uf", @placeholder = "uf" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.unidade, new { @type = "int", @readonly = "readonly", @class = "form-control validate", @name = "unidade", @id = "unidade", @placeholder = "unidade" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.ibge, new { @type = "int", @readonly = "readonly", @class = "form-control validate", @name = "ibge", @id = "ibge", @placeholder = "ibge" })
                </div>
                <div class="form-group md-form">
                    @Html.TextBoxFor(txt => txt.gia, new { @type = "text", @readonly = "readonly", @class = "form-control validate", @name = "gia", @id = "gia", @placeholder = "Numero gia" })
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary btn-rounded" type="submit">Cadastrar</button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
    {
    <script>

        $(document).ready(function () {

            /* CEP */

            $.validator.addMethod("cep", function (value, element, arg) {
                value = value.toString();
                value = value.replace(/[^0-9]/g, "");
                if (ValidaCep(value) && value !== "00000000") {

                    return $("#cep").hasClass("validCEP");
                }
                return false;

            });
            function ValidaCep(cep) {
                exp = /\d{2}\.\d{3}\-\d{3}/
                if (!exp.test(cep.value) && cep.value != "00000-000")
                    return true;
                return false;
            }
            $('#cep').keyup(function () {

                var el = $(this)
                    .attr("name")
                    .split("cep")[1];
                if ($(this).val().length === 9) {
                    preencherCEP();
                }
            });

           function preencherCEP() {

               var cep = $('[name^="cep"]').val();

               $.getJSON("https://viacep.com.br/ws/" + cep + "/json/", function (dados) {

                    try {
                        console.log(dados);
                     
                            $('[name^="cep"]')
                                .addClass("validCEP")
                            $('[name="logradouro"]')
                                .attr('Readonly', 'Readonly')
                                .val(dados.logradouro)
                            $('[name="bairro"]')
                                .attr('Readonly', 'Readonly')
                                .val(dados.bairro)
                        $('[name="localidade"]')
                                .attr('Readonly', 'Readonly')
                                .val(dados.localidade)
                        $('[name="uf"]')
                            .attr('Readonly', 'Readonly')
                            .val(dados.uf)

                        $('[name="unidade"]')
                            .attr('Readonly', 'Readonly')
                            .val(dados.ddd)

                        $('[name="ibge"]')
                            .attr('Readonly', 'Readonly')
                            .val(dados.ibge)

                        $('[name="gia"]')
                            .attr('Readonly', 'Readonly')
                            .val(dados.gia)
                        $('[name="complemento"]')
                            .attr('Readonly', 'Readonly')
                            .val(dados.complemento)
                            if ($(".cep-error").length) {
                                $(".cep-error").remove();
                            }
                   
                           
                        
                    }

                    catch (e) {

                        console.log("Erro");

                        $('[name="logradouroResidencial.Logradouro"]')
                            .removeAttr("Readonly")
                    }
                });
            }            

            /**/
     
            $("#cep").mask("00000-000", { clearIfNotMatch: true });

            $("form").validate({
                rules: {                    
                    cep: { required: true, cep: true },
                    logradouro: { required: true },
                    bairro: { required: true },
                    localidade: { required: true },
                    uf: { required: true }
                },
                messages: {                    
                    cep: {
                        required: "Informe Cep",
                        cep: "Informe um Cep válido"
                    },
                    logradouro: {
                        required: "Informe o endereço"
                    },                  
                    bairro: {
                        required: "Informe o bairro"
                    },
                    localidade: {
                        required: "Informe a cidade"
                    },
                    uf: {
                        required: "Informe a UF"
                    }
                }
            });
        });

    </script>
}
